## PROYECTO DE ANÁLISIS DE DATOS CON BASE DE DATOS DE DÉLITOS DE LOS ÁNGELES

In [3]:
# IMPORTAR LIBRERIAS

import pandas as pd
import matplotlib.pyplot as plt 
import seaborn as sns

In [4]:
# TRAER EL DATASET

ruta = "C:/Users/Julian/Downloads/Crime_Data_from_2020_to_Present.csv/Crimenes.csv"
df = pd.read_csv(ruta)
df

,FECHA_DELITO,HORA_DELITO,AREA,Part 1-2,DELITO,EDAD_VICTIMA,SEXO_VICTIMA,LUGAR_CRIMEN,ESTADO,LAT,LON
0,03/01/2020 00:00,2130,Wilshire,1,VEHICLE - STOLEN,0,M,STREET,Adult Arrest,34.0375,-118.3506
1,02/08/2020 00:00,1800,Central,1,BURGLARY FROM VEHICLE,47,M,BUS STOP/LAYOVER (ALSO QUERY 124),Invest Cont,34.0444,-118.2628
2,11/04/2020 00:00,1700,Southwest,1,BIKE - STOLEN,19,X,"MULTI-UNIT DWELLING (APARTMENT, DUPLEX, ETC)",Invest Cont,34.0210,-118.3002
3,03/10/2020 00:00,2037,Van Nuys,1,SHOPLIFTING-GRAND THEFT ($950.01 & OVER),19,M,CLOTHING STORE,Invest Cont,34.1576,-118.4387
4,08/17/2020 12:00:00 AM,1200,Hollywood,2,THEFT OF IDENTITY,28,M,SIDEWALK,Invest Cont,34.0944,-118.3277
...,...,...,...,...,...,...,...,...,...,...,...
932135,02/11/2024 00:00,1920,Foothill,2,TRESPASSING,79,M,SINGLE FAMILY DWELLING,Adult Arrest,34.2278,-118.4051
932136,01/13/2024 12:00:00 AM,720,Foothill,1,"ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT",36,M,STREET,Invest Cont,34.2271,-118.3878
932137,02/17/2024 12:00:00 AM,2330,Topanga,1,THEFT FROM MOTOR VEHICLE - PETTY ($950 & UNDER),44,F,DRIVEWAY,Invest Cont,34.2260,-118.6214
932138,01/16/2024 12:00:00 AM,1510,Olympic,2,BATTERY - SIMPLE ASSAULT,80,F,BUS STOP,Invest Cont,34.0690,-118.3054
932139,01/15/2024 12:00:00 AM,100,Central,2,VANDALISM - MISDEAMEANOR ($399 OR UNDER),0,X,HOTEL,Invest Cont,34.0685,-118.2460

In [5]:
# VER VALORES ÚNICOS POR ÁREA

unicos_area = df["AREA"].unique()
unicos_area

array(['Wilshire', 'Central', 'Southwest', 'Van Nuys', 'Hollywood',
       'Southeast', 'Newton', 'Mission', 'Rampart', 'West Valley',
       'West LA', 'Olympic', 'Hollenbeck', 'Topanga', 'Northeast',
       '77th Street', 'Pacific', 'N Hollywood', 'Harbor', 'Foothill',
       'Devonshire'], dtype=object)

In [6]:
# INFORMACIÓN DE LA TABLA

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 932140 entries, 0 to 932139
Data columns (total 11 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   FECHA_DELITO  932140 non-null  object
 1   HORA_DELITO   932140 non-null  int64
 2   AREA          932140 non-null  object
 3   Part 1-2      932140 non-null  int64
 4   DELITO        932140 non-null  object
 5   EDAD_VICTIMA  932140 non-null  int64
 6   SEXO_VICTIMA  807934 non-null  object
 7   LUGAR_CRIMEN  931578 non-null  object
 8   ESTADO        932140 non-null  object
 9   LAT           932140 non-null  float64
 10  LON           932140 non-null  float64
dtypes: float64(2), int64(3), object(6)
memory usage: 78.2+ MB

In [7]:
# CRÍMENES POR SEXO DE LA VICTIMA

sexo = df.groupby("SEXO_VICTIMA")["SEXO_VICTIMA"].count().sort_values(ascending = False)
sexo

SEXO_VICTIMA
M    381415
F    340244
X     86169
H       105
-         1
Name: SEXO_VICTIMA, dtype: int64

In [8]:
# RELLENAR NULOS CON X

df["SEXO_VICTIMA"] = df["SEXO_VICTIMA"].fillna("X")

In [9]:
# RELLENAR NULOS CON "Desconocido"

df["LUGAR_CRIMEN"] = df["LUGAR_CRIMEN"].fillna("Desconocido")

In [10]:
# REEMPLAZAR SEXO CON X

df["SEXO_VICTIMA"] = df["SEXO_VICTIMA"].replace("H","X")
df["SEXO_VICTIMA"] = df["SEXO_VICTIMA"].replace("-","X")

In [11]:
# VALIDAR INFORMACIÓN DE LA TABLA

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 932140 entries, 0 to 932139
Data columns (total 11 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   FECHA_DELITO  932140 non-null  object
 1   HORA_DELITO   932140 non-null  int64
 2   AREA          932140 non-null  object
 3   Part 1-2      932140 non-null  int64
 4   DELITO        932140 non-null  object
 5   EDAD_VICTIMA  932140 non-null  int64
 6   SEXO_VICTIMA  932140 non-null  object
 7   LUGAR_CRIMEN  932140 non-null  object
 8   ESTADO        932140 non-null  object
 9   LAT           932140 non-null  float64
 10  LON           932140 non-null  float64
dtypes: float64(2), int64(3), object(6)
memory usage: 78.2+ MB

In [12]:
# ESTANDARIZAR FECHA

df["FECHA_DELITO"] = pd.to_datetime(df["FECHA_DELITO"], format='mixed')
df

,FECHA_DELITO,HORA_DELITO,AREA,Part 1-2,DELITO,EDAD_VICTIMA,SEXO_VICTIMA,LUGAR_CRIMEN,ESTADO,LAT,LON
0,2020-03-01,2130,Wilshire,1,VEHICLE - STOLEN,0,M,STREET,Adult Arrest,34.0375,-118.3506
1,2020-02-08,1800,Central,1,BURGLARY FROM VEHICLE,47,M,BUS STOP/LAYOVER (ALSO QUERY 124),Invest Cont,34.0444,-118.2628
2,2020-11-04,1700,Southwest,1,BIKE - STOLEN,19,X,"MULTI-UNIT DWELLING (APARTMENT, DUPLEX, ETC)",Invest Cont,34.0210,-118.3002
3,2020-03-10,2037,Van Nuys,1,SHOPLIFTING-GRAND THEFT ($950.01 & OVER),19,M,CLOTHING STORE,Invest Cont,34.1576,-118.4387
4,2020-08-17,1200,Hollywood,2,THEFT OF IDENTITY,28,M,SIDEWALK,Invest Cont,34.0944,-118.3277
...,...,...,...,...,...,...,...,...,...,...,...
932135,2024-02-11,1920,Foothill,2,TRESPASSING,79,M,SINGLE FAMILY DWELLING,Adult Arrest,34.2278,-118.4051
932136,2024-01-13,720,Foothill,1,"ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT",36,M,STREET,Invest Cont,34.2271,-118.3878
932137,2024-02-17,2330,Topanga,1,THEFT FROM MOTOR VEHICLE - PETTY ($950 & UNDER),44,F,DRIVEWAY,Invest Cont,34.2260,-118.6214
932138,2024-01-16,1510,Olympic,2,BATTERY - SIMPLE ASSAULT,80,F,BUS STOP,Invest Cont,34.0690,-118.3054
932139,2024-01-15,100,Central,2,VANDALISM - MISDEAMEANOR ($399 OR UNDER),0,X,HOTEL,Invest Cont,34.0685,-118.2460

In [13]:
# CONVERTIR HORA DE DELITO EXTRAYENDO LA HORA 

df['HORA_DELITO'] = pd.to_datetime(df['HORA_DELITO'].astype(str).str.zfill(4), format='%H%M').dt.hour
df

,FECHA_DELITO,HORA_DELITO,AREA,Part 1-2,DELITO,EDAD_VICTIMA,SEXO_VICTIMA,LUGAR_CRIMEN,ESTADO,LAT,LON
0,2020-03-01,21,Wilshire,1,VEHICLE - STOLEN,0,M,STREET,Adult Arrest,34.0375,-118.3506
1,2020-02-08,18,Central,1,BURGLARY FROM VEHICLE,47,M,BUS STOP/LAYOVER (ALSO QUERY 124),Invest Cont,34.0444,-118.2628
2,2020-11-04,17,Southwest,1,BIKE - STOLEN,19,X,"MULTI-UNIT DWELLING (APARTMENT, DUPLEX, ETC)",Invest Cont,34.0210,-118.3002
3,2020-03-10,20,Van Nuys,1,SHOPLIFTING-GRAND THEFT ($950.01 & OVER),19,M,CLOTHING STORE,Invest Cont,34.1576,-118.4387
4,2020-08-17,12,Hollywood,2,THEFT OF IDENTITY,28,M,SIDEWALK,Invest Cont,34.0944,-118.3277
...,...,...,...,...,...,...,...,...,...,...,...
932135,2024-02-11,19,Foothill,2,TRESPASSING,79,M,SINGLE FAMILY DWELLING,Adult Arrest,34.2278,-118.4051
932136,2024-01-13,7,Foothill,1,"ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT",36,M,STREET,Invest Cont,34.2271,-118.3878
932137,2024-02-17,23,Topanga,1,THEFT FROM MOTOR VEHICLE - PETTY ($950 & UNDER),44,F,DRIVEWAY,Invest Cont,34.2260,-118.6214
932138,2024-01-16,15,Olympic,2,BATTERY - SIMPLE ASSAULT,80,F,BUS STOP,Invest Cont,34.0690,-118.3054
932139,2024-01-15,1,Central,2,VANDALISM - MISDEAMEANOR ($399 OR UNDER),0,X,HOTEL,Invest Cont,34.0685,-118.2460

In [14]:
# DELITOS POR ÁREA

areas = df.groupby("AREA")["AREA"].count().sort_values(ascending = False)
por_areas = (areas / len(df) * 100).round(2).head(6)
por_areas

AREA
Central        6.77
77th Street    6.26
Pacific        5.84
Southwest      5.64
Hollywood      5.27
Olympic        5.05
Name: AREA, dtype: float64

In [15]:
# PORCENTAJE DE DELITOS

delitos = df.groupby("DELITO")["DELITO"].count().sort_values(ascending = False)
por_delitos =  (delitos / len(df) * 100).round(2).head(6)
por_delitos

DELITO
VEHICLE - STOLEN                                           10.75
BATTERY - SIMPLE ASSAULT                                    7.91
THEFT OF IDENTITY                                           6.17
BURGLARY FROM VEHICLE                                       6.17
BURGLARY                                                    6.12
VANDALISM - FELONY ($400 & OVER, ALL CHURCH VANDALISMS)     6.06
Name: DELITO, dtype: float64

In [16]:
areas_delitos = df.groupby(["AREA", "DELITO"])["AREA"].count().sort_values(ascending = False)
areas_delitos

AREA         DELITO
Central      BURGLARY FROM VEHICLE                  8644
77th Street  VEHICLE - STOLEN                       7689
Newton       VEHICLE - STOLEN                       7320
Central      BATTERY - SIMPLE ASSAULT               6739
Southeast    VEHICLE - STOLEN                       6301
                                                    ...
West Valley  DOCUMENT WORTHLESS ($200 & UNDER)         1
             DOCUMENT WORTHLESS ($200.01 & OVER)       1
             DRUGS, TO A MINOR                         1
Harbor       PURSE SNATCHING - ATTEMPT                 1
Mission      GRAND THEFT / AUTO REPAIR                 1
Name: AREA, Length: 2389, dtype: int64

In [17]:
# CRIMENES POR LUGAR

lugar = df.groupby("LUGAR_CRIMEN")["LUGAR_CRIMEN"].count().sort_values(ascending = False)
por_lugar = (lugar / len(df) * 100).round(2).head(6)
por_lugar

LUGAR_CRIMEN
STREET                                          25.39
SINGLE FAMILY DWELLING                          16.85
MULTI-UNIT DWELLING (APARTMENT, DUPLEX, ETC)    12.19
PARKING LOT                                      6.90
OTHER BUSINESS                                   4.77
SIDEWALK                                         4.24
Name: LUGAR_CRIMEN, dtype: float64

In [18]:
# AGREGAR COLUMNAS DE MES Y DIA

df_por_mes = df.copy()
df_por_mes["FECHA_DELITO"] = pd.to_datetime(df_por_mes["FECHA_DELITO"])
df_por_mes["MES_DELITO"] = df_por_mes["FECHA_DELITO"].dt.month_name()
df_por_mes['DIA_DELITO_NOMBRE'] = df_por_mes['FECHA_DELITO'].dt.day_name()
df_por_mes

,FECHA_DELITO,HORA_DELITO,AREA,Part 1-2,DELITO,EDAD_VICTIMA,SEXO_VICTIMA,LUGAR_CRIMEN,ESTADO,LAT,LON,MES_DELITO,DIA_DELITO_NOMBRE
0,2020-03-01,21,Wilshire,1,VEHICLE - STOLEN,0,M,STREET,Adult Arrest,34.0375,-118.3506,March,Sunday
1,2020-02-08,18,Central,1,BURGLARY FROM VEHICLE,47,M,BUS STOP/LAYOVER (ALSO QUERY 124),Invest Cont,34.0444,-118.2628,February,Saturday
2,2020-11-04,17,Southwest,1,BIKE - STOLEN,19,X,"MULTI-UNIT DWELLING (APARTMENT, DUPLEX, ETC)",Invest Cont,34.0210,-118.3002,November,Wednesday
3,2020-03-10,20,Van Nuys,1,SHOPLIFTING-GRAND THEFT ($950.01 & OVER),19,M,CLOTHING STORE,Invest Cont,34.1576,-118.4387,March,Tuesday
4,2020-08-17,12,Hollywood,2,THEFT OF IDENTITY,28,M,SIDEWALK,Invest Cont,34.0944,-118.3277,August,Monday
...,...,...,...,...,...,...,...,...,...,...,...,...,...
932135,2024-02-11,19,Foothill,2,TRESPASSING,79,M,SINGLE FAMILY DWELLING,Adult Arrest,34.2278,-118.4051,February,Sunday
932136,2024-01-13,7,Foothill,1,"ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT",36,M,STREET,Invest Cont,34.2271,-118.3878,January,Saturday
932137,2024-02-17,23,Topanga,1,THEFT FROM MOTOR VEHICLE - PETTY ($950 & UNDER),44,F,DRIVEWAY,Invest Cont,34.2260,-118.6214,February,Saturday
932138,2024-01-16,15,Olympic,2,BATTERY - SIMPLE ASSAULT,80,F,BUS STOP,Invest Cont,34.0690,-118.3054,January,Tuesday
932139,2024-01-15,1,Central,2,VANDALISM - MISDEAMEANOR ($399 OR UNDER),0,X,HOTEL,Invest Cont,34.0685,-118.2460,January,Monday

In [19]:
mes_delito = df_por_mes.groupby("MES_DELITO")["MES_DELITO"].count().sort_values(ascending = False)
por_mes = mes_delito / len(df_por_mes) * 100
por_mes

MES_DELITO
January      9.893149
March        9.336580
February     9.225009
October      8.167014
July         8.117879
April        8.105542
August       8.087948
May          7.886798
December     7.862231
June         7.846354
September    7.785097
November     7.686399
Name: MES_DELITO, dtype: float64

In [20]:
dia_delito = df_por_mes.groupby("DIA_DELITO_NOMBRE")["DIA_DELITO_NOMBRE"].count().sort_values(ascending = False)
por_dia = (dia_delito / len(df_por_mes) * 100).round(2)
por_dia

DIA_DELITO_NOMBRE
Friday       15.29
Saturday     14.66
Wednesday    14.21
Monday       14.10
Thursday     14.09
Sunday       13.92
Tuesday      13.73
Name: DIA_DELITO_NOMBRE, dtype: float64

In [21]:
hora_delito = df_por_mes.groupby("HORA_DELITO")["HORA_DELITO"].count().sort_values(ascending = False)
porcentaje_hora = (hora_delito / len(df_por_mes) * 100).round(2)
porcentaje_hora

HORA_DELITO
12    6.76
18    5.95
17    5.84
20    5.58
19    5.51
16    5.27
15    5.23
21    5.06
14    4.89
22    4.88
13    4.52
11    4.35
10    4.29
23    4.21
0     4.08
8     3.69
9     3.62
1     2.99
7     2.58
2     2.55
6     2.28
3     2.24
4     1.89
5     1.73
Name: HORA_DELITO, dtype: float64

In [22]:
# TIPO DE DELITO POR DÍA

delitos_por_dia = df_por_mes.groupby(["DELITO", "DIA_DELITO_NOMBRE"]).size().unstack(fill_value=0)
delitos_por_dia.sort_values(by="Friday", ascending= False)

DIA_DELITO_NOMBRE,Friday,Monday,Saturday,Sunday,Thursday,Tuesday,Wednesday
DELITO,,,,,,,
VEHICLE - STOLEN,15544,13910,14907,13735,14168,13758,14203
BATTERY - SIMPLE ASSAULT,10816,10123,11454,11328,10092,9848,10098
BURGLARY,9884,7898,8124,6866,8338,7786,8119
BURGLARY FROM VEHICLE,8947,7705,8818,8172,8173,7746,7977
THEFT OF IDENTITY,8884,9164,6969,6398,8728,8457,8939
...,...,...,...,...,...,...,...
FIREARMS RESTRAINING ORDER (FIREARMS RO),0,1,1,1,0,0,1
GRAND THEFT / INSURANCE FRAUD,0,2,2,0,4,2,1
"MANSLAUGHTER, NEGLIGENT",0,0,3,1,1,1,2
"PICKPOCKET, ATTEMPT",0,2,1,1,1,1,1
FAILURE TO DISPERSE,0,0,5,0,0,1,0

### ALGORITMO ARBOL (PREDICCIONES)

In [24]:
from sklearn.feature_selection import SelectKBest, SelectFromModel, chi2

In [25]:
df_ml = df_por_mes.copy()
df_ml = df_ml.drop(columns=["FECHA_DELITO", "ESTADO","LAT","LON"], axis = 1)
df_ml

,HORA_DELITO,AREA,Part 1-2,DELITO,EDAD_VICTIMA,SEXO_VICTIMA,LUGAR_CRIMEN,MES_DELITO,DIA_DELITO_NOMBRE
0,21,Wilshire,1,VEHICLE - STOLEN,0,M,STREET,March,Sunday
1,18,Central,1,BURGLARY FROM VEHICLE,47,M,BUS STOP/LAYOVER (ALSO QUERY 124),February,Saturday
2,17,Southwest,1,BIKE - STOLEN,19,X,"MULTI-UNIT DWELLING (APARTMENT, DUPLEX, ETC)",November,Wednesday
3,20,Van Nuys,1,SHOPLIFTING-GRAND THEFT ($950.01 & OVER),19,M,CLOTHING STORE,March,Tuesday
4,12,Hollywood,2,THEFT OF IDENTITY,28,M,SIDEWALK,August,Monday
...,...,...,...,...,...,...,...,...,...
932135,19,Foothill,2,TRESPASSING,79,M,SINGLE FAMILY DWELLING,February,Sunday
932136,7,Foothill,1,"ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT",36,M,STREET,January,Saturday
932137,23,Topanga,1,THEFT FROM MOTOR VEHICLE - PETTY ($950 & UNDER),44,F,DRIVEWAY,February,Saturday
932138,15,Olympic,2,BATTERY - SIMPLE ASSAULT,80,F,BUS STOP,January,Tuesday
932139,1,Central,2,VANDALISM - MISDEAMEANOR ($399 OR UNDER),0,X,HOTEL,January,Monday

In [26]:
# EXTRAER COLUMNAS NÚMERICAS

num = df_ml.select_dtypes('number').reset_index(drop = True)

In [27]:
# CONVERTIR VARIABLES CATEGORICAS A NÚMERICAS 

from sklearn.preprocessing import OneHotEncoder

#Categóricas
cat = df_ml.select_dtypes('O')

#Instanciamos
ohe = OneHotEncoder(sparse_output = False)

#Entrenamos
ohe.fit(cat)

#Aplicamos
cat_ohe = ohe.transform(cat)

#Ponemos los nombres
cat_ohe = pd.DataFrame(cat_ohe, columns = ohe.get_feature_names_out(input_features = cat.columns)).reset_index(drop = True)

In [28]:
# UNIR NUMERICAS Y CATEGORICAS

df_transformado = pd.concat([cat_ohe,num], axis = 1)
df_transformado

,AREA_77th Street,AREA_Central,AREA_Devonshire,AREA_Foothill,AREA_Harbor,AREA_Hollenbeck,AREA_Hollywood,AREA_Mission,AREA_N Hollywood,AREA_Newton,...,DIA_DELITO_NOMBRE_Friday,DIA_DELITO_NOMBRE_Monday,DIA_DELITO_NOMBRE_Saturday,DIA_DELITO_NOMBRE_Sunday,DIA_DELITO_NOMBRE_Thursday,DIA_DELITO_NOMBRE_Tuesday,DIA_DELITO_NOMBRE_Wednesday,HORA_DELITO,Part 1-2,EDAD_VICTIMA
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,21,1,0
1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,18,1,47
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,17,1,19
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,20,1,19
4,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,12,2,28
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
932135,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,19,2,79
932136,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,7,1,36
932137,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,23,1,44
932138,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,15,2,80
932139,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1,2,0

In [29]:
# Extraer lugares externos

LUGARES = ["STREET","PARKING LOT","SIDEWALK","VEHICLE, PASSENGER/TRUCK","DRIVEWAY",
                                                    "DEPARTMENT STORE","RESTAURANT/FAST FOOD" ,
                                                    "PARKING UNDERGROUND/BUILDING","OTHER PREMISE","MARKET","ALLEY",
                                                    "OTHER RESIDENCE","PARK/PLAYGROUND","YARD (RESIDENTIAL/BUSINESS)",
                                                   "GAS STATION","HOTEL","CLOTHING STORE","OTHER STORE"]

In [30]:
# DF CON LUGARES EXTERNOS

df_externo = pd.DataFrame(df[df["LUGAR_CRIMEN"].isin(LUGARES)])
df_externo

,FECHA_DELITO,HORA_DELITO,AREA,Part 1-2,DELITO,EDAD_VICTIMA,SEXO_VICTIMA,LUGAR_CRIMEN,ESTADO,LAT,LON
0,2020-03-01,21,Wilshire,1,VEHICLE - STOLEN,0,M,STREET,Adult Arrest,34.0375,-118.3506
3,2020-03-10,20,Van Nuys,1,SHOPLIFTING-GRAND THEFT ($950.01 & OVER),19,M,CLOTHING STORE,Invest Cont,34.1576,-118.4387
4,2020-08-17,12,Hollywood,2,THEFT OF IDENTITY,28,M,SIDEWALK,Invest Cont,34.0944,-118.3277
13,2020-11-01,1,West Valley,1,VEHICLE - STOLEN,0,X,STREET,Invest Cont,34.1939,-118.4859
18,2020-11-27,18,Wilshire,1,"ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT",31,F,STREET,Adult Arrest,34.0452,-118.3351
...,...,...,...,...,...,...,...,...,...,...,...
932132,2024-02-19,11,Topanga,1,SHOPLIFTING - PETTY THEFT ($950 & UNDER),50,M,OTHER STORE,Invest Cont,34.1685,-118.6038
932133,2024-01-30,22,Van Nuys,1,BURGLARY FROM VEHICLE,36,M,PARKING LOT,Invest Cont,34.2012,-118.4725
932136,2024-01-13,7,Foothill,1,"ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT",36,M,STREET,Invest Cont,34.2271,-118.3878
932137,2024-02-17,23,Topanga,1,THEFT FROM MOTOR VEHICLE - PETTY ($950 & UNDER),44,F,DRIVEWAY,Invest Cont,34.2260,-118.6214
932139,2024-01-15,1,Central,2,VANDALISM - MISDEAMEANOR ($399 OR UNDER),0,X,HOTEL,Invest Cont,34.0685,-118.2460

In [31]:
# LIBRERIAS PARA EL MAPA DE CALOR

import folium
from folium.plugins import HeatMap

In [32]:
# Filtramos las filas que tienen valores nulos en LAT y LON, ya que no pueden ser usadas en el mapa de calor
df = df.dropna(subset=['LAT', 'LON'])

# Inicializa el mapa centrado en la ubicación general de Los Ángeles
heat_map = folium.Map(location=[34.05, -118.25], zoom_start=12)

# Prepara los datos para el HeatMap (latitud, longitud)
heat_data = [[row['LAT'], row['LON']] for index, row in df.iterrows()]

# Crea el mapa de calor y añádelo al mapa
HeatMap(heat_data).add_to(heat_map)

# Guarda el mapa en un archivo HTML
heat_map.save("heatmap_delitos.html")

print("Mapa de calor generado exitosamente y guardado como 'heatmap_delitos.html'")

Mapa de calor generado exitosamente y guardado como 'heatmap_delitos.html'